<!-- <section class="property-binding">
    <article>
        <h3>Interpolation (Interpolação)</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValue() }}</p>
        <p>Curso de Angular! Eu gosto do curso: {{ angularCourse && getLikeCourse() }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>

        Interpolation
        <img src="{{ imgUrl }}">

        Property Binding
        <img [src]="imgUrl">
        
    </article>
</section> -->

<section class="input-properties">

    <article>
        <h3>Input/Output Properties</h3>

        <app-input-property [name]="courseName"></app-input-property>

        <app-output-property [value]="initialValue" (changedValue)="onChangedValue($event)"></app-output-property>
    </article>
</section>